<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>




<script type="text/javascript">
  window.logoURL = "<%= image_url('checkoff_logo.png') %>";
</script>

<script type="text/javascript">
  window.graphic_01 = "<%= image_url('hp_steve_3.png') %>";
</script>

<script type="text/javascript">
  window.cusomers_gif = "<%= image_url('customers.gif') %>";
</script>

<main id="root"><marquee>React Not F'in Working!!!</marquee></main>