// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$kolor_grey: #636367;
$kolor_yellow: #faff38;
$kolor_orange: #fa6d40;
$kolor_orange_dark: #c43923;
$kolor_green_light: #bbc997;
$kolor_green: #5a6f24;

$kolor_lime: #cdf119;
$kolor_black: #122023;
// $kolor_grey: #b64520;
$kolor_tangerine: #f02c14;
$kolor_green_dark: #39500f;
$kolor_green_dark: #39500f;
$kolor_blue: #49517e;
$kolor_red: #CF1103;
$kolor_navy: #29354B;
$kolor_grey: rgb(205, 211, 222);



$main-color: #ada0ee;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-museo: "MuseoSansRounded", "Helvetica Neue", Helvetica, Arial, sans-serif;

.session-form{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding: 0 0 0 0;

    .left-session-form{
        background-color: $kolor_navy;
    }

    .right-session-form{
        //background-color: $kolor_green_light;
        display: grid;
        grid-template-rows: 1fr 10fr; 
        padding: 10%;
        
        .session-toggle-form{
            display: flex;
        }
        
        .session-toggle-container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 0.4vw;
        }
        
        .other-session-button {
            text-decoration: none;
            background-color: $kolor_grey;
            color:$kolor_navy;
            padding-right: 3px;
            padding-left: 3px;
            font-size: 1.6vw;
            font-weight: 700;
            border-radius: 3px;
        }
        
        .other-session-button:hover {
            // background-color: rgb(109, 109, 24);
            // box-shadow: 1px 1px 1px brown;
            color:$kolor_lime;
        }
        
        .form-setup{

            // display: grid;
            // justify-content: center;
            // grid-template-columns: 66vh;
            // grid-template-rows: repeat(8, .8fr minmax(auto, .8fr));
            // padding-right: 4%;
            // padding-left: 4%;


            display: grid;
            justify-content: center;
            grid-template-columns: 91%;
            grid-template-rows: repeat(8, 10% minmax(auto, 0.8fr));
            padding-right: 4%;
            padding-left: 4%;

             //top right bottom left

            //grid-template-columns: ;
            // grid-column-start: 3;
            // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
            //grid-auto-columns: 100px;
            //grid-template-columns: ;
            // grid-column-start: 3;
            // padding: 0px 10px 0px 10px;


            .submit-button-container{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                

            }

            input{
                border-radius: 3px;
                font-size: 3vh;
                text-align: center;
                padding: 3vh;
                margin-bottom: 4vh;

            }
            input::placeholder {
                color: $kolor_grey;
                text-align: center;
                font-size: 5vh;
                
              }

            button{
                border-radius: 30px;
                font-size: 6vh;
                text-align: center;
                width: 39vw;
            }
        }

        .form-title{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: white;
            font-size: 6vh;
        }
        // .signup-form-setup{
        //     display: grid;
        //     justify-content: center;
        //     grid-template-columns: 100vh;
        //     grid-gap: 3vh;
        //     grid-template-rows: repeat(7, 13vh);
        //     padding: 0px 10px 0px 10px;
        //             //top right bottom left
        // }

    }

    
}