
$kolor_grey: #636367;
$kolor_yellow: #faff38;
$kolor_orange: #fa6d40;
$kolor_orange_dark: #c43923;
$kolor_green: #5a6f24;
$kolor_lime: #cdf119;
$kolor_black: #122023;
$kolor_grey: #b64520;
$kolor_tangerine: #f02c14;
$kolor_green_dark: #39500f;
$kolor_green_dark: #39500f;
$kolor_blue: #49517e;
$kolor_red: #CF1103;
$kolor_navy: #29354B;



$main-color: #ada0ee;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-museo: "MuseoSansRounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    


.banner {
    background-color: $kolor_navy;
    font-family: $main-color;
    display: flex;
    justify-content: space-between;
    align-content: center;


    .figure{
        padding-right: 2vw;
    }
    .button {
        // background-color: rgb(230, 165, 46);
        // padding: 10px;
        // box-shadow: 3px 3px 3px brown;
        align-items: center;
        text-decoration: none;
        // background-color: red;
        margin-right: 1%;
        // font-size: 5%;
        color: white;
        // font-size: 1.9em;
        
        // overflow: hidden;
        white-space: nowrap;
        font-size: 2.5vw;
        display: flex;
        padding-right: 33px;
        font-weight: 700;
      }
  
    .button:hover {
        // background-color: rgb(109, 109, 24);
        // box-shadow: 1px 1px 1px brown;
        color:$kolor_yellow;
    }

    .signup-button{
        // background-color:red;
        border: 2px solid white;
        border-radius: 25px;
        padding-left: 7px;
        padding-right: 6px;
    }

    .signup-button:hover{
        border: 2px solid $kolor_yellow;
        
    }

    .logo-banner {
        background-color: white;
        float: left;
        width: 119px;
        position:relative;  
    }

    .banner-nav{
        display: flex;
        flex: auto;
    }

    .demo{
        font-size: 1.5vw;
     }
}



.nav-bar {
    display: flex;
    
    padding: 20px;
    background: lightblue;
    align-items: center;
 }

 .sign-up-demo{
     display: grid;
    //  grid-template-columns: repeat(3,1fr)
    grid-template-rows: auto auto;
    align-content: center;
    grid-gap: 11px;
 }



// .logo {
//     background-image: url(/assets/logo.png);
//     display: flex;
//     height: 93px;
//     margin-bottom: 7px;

// }

// .logo-letters {
//     font-variant-caps: small-caps;
//     font-size: 316%;
//     color: green;
//     margin-bottom: 0%;
//     margin-top: 0%;
// }

// .map-container {
//     width: 500px;
//     height: 500px;
// }
