@font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-Thin.ttf');
    //src: url('fonts/MuseoSansRounded-100-webfont-&1449602652.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-100-webfont-1449602652.woff') format('woff'), url('fonts/MuseoSansRounded-100-webfont-1449602652.ttf') format('truetype'), url('fonts/MuseoSansRounded-100-webfont-1449602652.svg') format('svg');
    font-weight: 100;
  }
  @font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-Light.ttf');
    //src: url('fonts/MuseoSansRounded-300-webfont-&1449602366.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-300-webfont-1449602366.woff') format('woff'), url('fonts/MuseoSansRounded-300-webfont-1449602366.ttf') format('truetype'), url('fonts/MuseoSansRounded-300-webfont-1449602366.svg') format('svg');
    font-weight: 300;
  }
  @font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-Medium.ttf');
    //src: url('fonts/MuseoSansRounded-500-webfont-&1449602366.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-500-webfont-1449602366.woff') format('woff'), url('fonts/MuseoSansRounded-500-webfont-1449602366.ttf') format('truetype'), url('fonts/MuseoSansRounded-500-webfont-1449602366.svg') format('svg');
    font-weight: 500;
  }
  @font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-Bold.ttf');
    //src: url('fonts/MuseoSansRounded-700-webfont-&1448013952.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-700-webfont-1448013979.woff') format('woff'), url('fonts/MuseoSansRounded-700-webfont-1448013976.ttf') format('truetype'), url('fonts/MuseoSansRounded-700-webfont-1448013974.svg') format('svg');
    font-weight: 700;
  }
  @font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-ExtraBold.ttf');
    //src: url('fonts/MuseoSansRounded-900-webfont-&1449602652.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-900-webfont-1449602652.woff') format('woff'), url('fonts/MuseoSansRounded-900-webfont-1449602652.ttf') format('truetype'), url('fonts/MuseoSansRounded-900-webfont-1449602652.svg') format('svg');
    font-weight: 900;
  }
  @font-face {
    font-family: "MuseoSansRounded";
    src: url('fonts/MPLUSRounded1c-Black.ttf');
    //src: url('fonts/MuseoSansRounded-1000-webfont-&1449602652.eot#iefix') format('embedded-opentype'), url('fonts/MuseoSansRounded-1000-webfont-1449602652.woff') format('woff'), url('fonts/MuseoSansRounded-1000-webfont-1449602652.ttf') format('truetype'), url('fonts/MuseoSansRounded-1000-webfont-1449602652.svg') format('svg');
    font-weight: 1000;
  }
  @font-face {
    font-family: "Open Sans";
    src: url('fonts/Open-Sans-300-1449602307.eot');
    src: url('fonts/Open-Sans-300-&1449602307.eot#iefix') format('embedded-opentype'), url('fonts/Open-Sans-300-1449602307.woff2') format('woff2'), url('fonts/Open-Sans-300-1449602307.woff') format('woff'), url('fonts/Open-Sans-300-1449602307.ttf') format('truetype'), url('fonts/Open-Sans-300-1449602307.svg') format('svg');
    font-weight: 300;
  }
  @font-face {
    font-family: "Open Sans";
    src: url('fonts/Open-Sans-regular-1448014050.eot');
    src: url('fonts/Open-Sans-regular-&1448014050.eot#iefix') format('embedded-opentype'), url('fonts/Open-Sans-regular-1448014068.woff2') format('woff2'), url('fonts/Open-Sans-regular-1448014066.woff') format('woff'), url('fonts/Open-Sans-regular-1448014064.ttf') format('truetype'), url('fonts/Open-Sans-regular-1448014061.svg') format('svg');
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans";
    src: url('fonts/Open-Sans-600-1449602307.eot');
    src: url('fonts/Open-Sans-600-&1449602307.eot#iefix') format('embedded-opentype'), url('fonts/Open-Sans-600-1449602307.woff2') format('woff2'), url('fonts/Open-Sans-600-1449602307.woff') format('woff'), url('fonts/Open-Sans-600-1449602307.ttf') format('truetype'), url('fonts/Open-Sans-600-1449602307.svg') format('svg');
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans";
    src: url('fonts/Open-Sans-700-1449602307.eot');
    src: url('fonts/Open-Sans-700-&1449602307.eot#iefix') format('embedded-opentype'), url('fonts/Open-Sans-700-1449602307.woff2') format('woff2'), url('fonts/Open-Sans-700-1449602307.woff') format('woff'), url('fonts/Open-Sans-700-1449602307.ttf') format('truetype'), url('fonts/Open-Sans-700-1449602307.svg') format('svg');
    font-weight: 700;
  }
  @font-face {
    font-family: "Material Icons";
    src: url('fonts/MaterialIcons-Regular-1448014126.eot');
    src: url('fonts/MaterialIcons-Regular-&1448014126.eot#iefix') format('embedded-opentype'), url('fonts/MaterialIcons-Regular-1448014141.woff2') format('woff2'), url('fonts/MaterialIcons-Regular-1448014134.woff') format('woff'), url('fonts/MaterialIcons-Regular-1448014132.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: "Blokletters Viltstift";
    src: url('fonts/Blokletters-Viltstift-webfont-1507524140.eot');
    src: url('fonts/Blokletters-Viltstift-webfont-&1507524140.eot#iefix') format('embedded-opentype'), url('fonts/Blokletters-Viltstift-webfont-1507524140.woff') format('woff'), url('fonts/Blokletters-Viltstift-webfont-1507524140.ttf') format('truetype'), url('fonts/Blokletters-Viltstift-webfont-1507524140.svg') format('svg');
    font-weight: 100;
  }
  @font-face {
    font-family: "Sue Ellen Francisco";
    src: url('fonts/sueellenfrancisco-webfont-1388644162.eot');
    src: url('fonts/sueellenfrancisco-webfont-&1388644162.eot#iefix') format('embedded-opentype'), url('fonts/sueellenfrancisco-webfont-1388644162.woff') format('woff'), url('fonts/sueellenfrancisco-webfont-1388644162.ttf') format('truetype'), url('fonts/sueellenfrancisco-webfont-1388644162.svg') format('svg');
  }
  @font-face {
    font-family: "Captain Comic Pro";
    src: url('fonts/captain_comic_pro-webfont-1507524140.eot');
    src: url('fonts/captain_comic_pro-webfont-&1507524140.eot#iefix') format('embedded-opentype'), url('fonts/captain_comic_pro-webfont-1507524140.woff') format('woff'), url('fonts/captain_comic_pro-webfont-1507524140.ttf') format('truetype'), url('fonts/captain_comic_pro-webfont-1507524140.svg') format('svg');
  }
  @font-face {
    font-family: "VincHand";
    src: url('fonts/VincHand.ttf-1507524140.eot');
    src: url('fonts/VincHand.ttf-&1507524140.eot#iefix') format('embedded-opentype'), url('fonts/VincHand.ttf-1507524140.woff') format('woff'), url('fonts/VincHand.ttf-1507524140.svg') format('svg');
  }

  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #404040;
  }

  .popover{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  @font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont-v=4.3.0.eot");
    src: url("fonts/fontawesome-webfont-.eot#iefix&v=4.3.0") format("embedded-opentype"), url("fonts/fontawesome-webfont-v=4.3.0.woff2") format("woff2"), url("fonts/fontawesome-webfont-v=4.3.0.woff") format("woff"), url("fonts/fontawesome-webfont-v=4.3.0.ttf") format("truetype"), url("fonts/fontawesome-webfont-v=4.3.0.svg#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  .rtm-footer-milky {
    // background-image: url('../img/speech_bubble_59x43-1507524155.png');
    background-repeat: no-repeat;
    background-size: 59px auto;
    font-family: "Sue Ellen Francisco";
    font-size: 19px;
    display: inline-block;
    vertical-align: top;
    width: 58px;
    height: 73px;
    margin: 58px 5px 20px 40px;
    color: rgba(0, 0, 0, 0.9);
  }

  .rtm-footer-language .btn-link {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none !important;
  }

  .rtm-top-nav {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: fixed;
    position: -webkit-sticky;
    width: 100%;
    z-index: 99;
    top: 0;
    margin-bottom: -114px;
  }

  .rtm-top-nav-account {
    margin-left: 21px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  .rtm-account-gift .table tbody td {
    font-size: 20px;
    line-height: 1.2;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 12px;
    vertical-align: middle;
  }

  .rtm-account-order-total div:last-child {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    font-size: 20px;
    color: #3f3f3f;
    font-weight: 500;
    margin-top: 7px;
  }

  .rtm-account-order-done-bob {
    font-family: "Sue Ellen Francisco";
    text-transform: uppercase;
    position: absolute;
  }

  .rtm-googlecalendar-sidebar-label {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #eaf3fc;
    font-weight: bold;
    padding: 8px 10px 7px 10px;
    margin: 2px 0 12px 6px;
    font-size: 15px;
  }

  .rtm-home .swiper-slide[data-swiper-slide-index="0"] .rtm-home-clouds {
    padding-left: 8px;
    font-family: "Captain Comic Pro";
    font-size: 22px;
    white-space: nowrap;
  }

  .rtm-login .rtm-login-divider span {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 17px;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    margin-top: -34px;
    color: rgba(0, 0, 0, 0.3);
  }

  .rtm-login blockquote footer {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    opacity: .75;
    padding-left: 4px;
  }

  .rtm-login-curator-text {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    opacity: .6;
    padding: 15px 0 0 0;
    max-width: 360px;
    line-height: 1.3333333;
  }

  rtm-new .btn-default {
    background-color: transparent;
    border-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-left: -2px;
    padding: 3px 15px 6px 14px;
  }

  .rtm-new-search-query {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Courier New", Courier, monospace;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 15px;
  }

  .rtm-new-colors-tags div {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    padding: 7px 16px 8px 15px;
    margin-bottom: 21px;
  }

  .rtm-tour-todos-clouds {
    font-family: "Captain Comic Pro";
    font-size: 18px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 24px;
  }

  .rtm-twitter-label {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #eaf3fc;
    font-weight: bold;
    padding: 8px 10px 7px 10px;
    margin: 0 0 20px 6px;
    font-size: 15px;
  }

  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }