


.notes-show-container{

}
.notes-container{
    display: flex;
    flex-direction: column;
}
.note-input-container{
    background-color: lightblue;

}
.note-input{

}
.note-form-buttons-container{

}
.note-button-container {

}
.note-save{

}
.note-cancel{

}
.notes-display{
    display: flex;
    flex-direction: column;
}