
$icon-color: #6d6d6d;
$task-index-border-radius: 7px;

.task-index-container{
    margin-top: 12px;
    background-color: white;
    //top right down left
    border-top-right-radius: $task-index-border-radius;
    border-top-left-radius: $task-index-border-radius;

}

.tasks_index{
    padding-top:5px;
    height:100vh;
}